@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LoginLayout";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<hr />
<p>This application is intented to demo the functionality of an insurance company.</p>