################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Insurance.Api/Insurance.WebApi/bin/Debug/netcoreapp3.1
/Insurance.Api/Insurance.WebApi/obj
/Insurance.Api/.vs/Insurance.Api/v16
/Insurance.Api/DataAccess/bin/Debug/netcoreapp3.1
/Insurance.Api/DataAccess/obj
/Insurance.Api/.vs/Insurance.Api/config
/Insurance.Api/.vs/Insurance.Api/DesignTimeBuild
*.user
/Insurance.Api/InsuranceEngine/bin/Debug/netcoreapp3.1
/Insurance.Api/InsuranceEngine/obj
/Insurance.Web/Insurance.Web/bin/Debug/netcoreapp3.1
/Insurance.Web/.vs/Insurance.Web
/Insurance.Web/Insurance.Web/obj
